.ctn-barra-nav {
  top: 0;
  position:fixed;
  width: 100%;
  align-content: center;
  padding-top: 15px;
  top: 0;
  background: #00CCFF;
  z-index: 999;
  height: 100px;
  box-shadow: 0 0 10px #00CCFF;
}

.ctn-logo-nav {
  display: flex;
  justify-content: center;
  height: 40px;
}

.ctn-barra-nav img {
  transition: transform .8s ease-in-out;
}

.ctn-logo-nav img:hover  {
 transform: rotate(360deg);
}

.ctn-nombre-nav {
  display: flex;
  justify-content: center;
  color: rgb(254, 254, 254);
  font-weight: bold;
  font-size: 12px;
}

.ctn-secciones-nav {
  display: flex;
  justify-content: center;
  width: 100%;
 
}

.lista-nav {
  font-size: 14px;
  list-style: none;
  display: flex;
  width: 100%;
  justify-content: space-around;
  color: white;
}

.lista-nav a {
  text-decoration: none;
  font-weight: bold;
}

.lista-nav a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.lista-nav a:visited {
  color: inherit;
}

.ctn-idioma {
  position: absolute;
  right: 15px;
  top: 15px;
  overflow: hidden;
  display: flex;
  gap: 5px;
  padding: 0;
}


.radio-lang {
  display: none;
  
}

.label-lang {
  padding: 5px;
  background-color: white;
  cursor: pointer;
  border-radius: 5px;
  color: gray;
}

#lang-es:checked ~ .langEs,
#lang-en:checked ~ .langEn
{
  background-color: white;
  color: #00CCFF;
  border: 2px solid black;
}

@media(max-width: 768px){
  .ctn-barra-nav {
    visibility: hidden;
    position: fixed;
    left: 0;
    top: 0;
    height: 10vh;
    display: flex;
    justify-content: end; 
    width: 100%; 
    padding: 0;
    padding-left: 2vh;
    align-items: center;
    gap: 1vh;
  }

  .ctn-nombre-nav {
    font-size: 18px;
    text-shadow: 0 0 15px blue;
  }

  .horizontal-nav {
    position: fixed;
    left: 0;
    top: 10vh;
    margin: 0;
    padding: 0 1vh;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 60%;
    background-color: #00CCFF;
    font-size: 22px;
  }

  .ctn-secciones-nav {
    width: 100%;
    padding: 0;
  }

  .lista-nav {
    padding: 1vh;
    height: 200px;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
    margin: 0;
    font-size: 24px;
    border-bottom: 1px solid;
  }

  .lista-nav li {
    margin: 0;
    width: 100%;
  }

  .lista-nav a {
    width: 100%;
    color: white;
  }

  .lista-nav:hover a {
    text-decoration: none;
  }


  .lista-nav a:visited {
    color: inherit;
  }

  .ctn-idioma {
    position: initial;
    display: flex;
    margin: 0;
    width: 100%;
    justify-content: center;
    padding-bottom: 10px ;
    border-bottom: 1px solid white;
  }

}