
.ctn-cards {
  padding: 10vh 2vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
  gap: 3vh;
  justify-content: center;
  place-items: center;

}


#ctn-video-ruta {
  width:450px;
  height: 300px;
  aspect-ratio: 16/9;
  display: flex;
  justify-content: center;
  overflow-y: hidden ;
}
#video-ruta {
  width: 100%;
  aspect-ratio: 4/3;
  box-shadow: 0 0 20px #00CCFF;

}

@media(max-width: 768px) {
  
}